<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiban.erp.daoPA.paDataMapper" >

  <insert id="insertSelective" parameterType="com.yiban.erp.entities.TradeLog" useGeneratedKeys="true" keyProperty="id">
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="bmbh != null" >
        bmbh,
      </if>
      <if test="bsbz != null" >
        bsbz,
      </if>
      <if test="bz != null" >
        bz,
      </if>
      <if test="cd != null" >
        cd,
      </if>
      <if test="channelcode != null" >
        channelcode,
      </if>
      <if test="cjhm != null" >
        cjhm,
      </if>
      <if test="corpid != null" >
        corpid,
      </if>
      <if test="cpxh != null" >
        cpxh,
      </if>
      <if test="createdby != null" >
        createdby,
      </if>
      <if test="qsbp != null" >
        qsbp,
      </if>
      <if test="datecreated != null" >
        datecreated,
      </if>
      <if test="dateupdated != null" >
        dateupdated,
      </if>
      <if test="djbz != null" >
        djbz,
      </if>
      <if test="dw != null" >
        dw,
      </if>
      <if test="dybz != null" >
        dybz,
      </if>
      <if test="fdjhm != null" >
        fdjhm,
      </if>
      <if test="fhr != null" >
        fhr,
      </if>
      <if test="fhrsbh != null" >
        fhrsbh,
      </if>
      <if test="fpdm != null" >
        fpdm,
      </if>
      <if test="fphm != null" >
        fphm,
      </if>
      <if test="fpzl != null" >
        fpzl,
      </if>
      <if test="gfdzdh != null" >
        gfdzdh,
      </if>
      <if test="gfmc != null" >
        gfmc,
      </if>
      <if test="gfsh != null" >
        gfsh,
      </if>
      <if test="gfyhzh != null" >
        gfyhzh,
      </if>
      <if test="hgzh != null" >
        hgzh,
      </if>
      <if test="hjje != null" >
        hjje,
      </if>
      <if test="hjse != null" >
        hjse,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="islist != null" >
        islist,
      </if>
      <if test="isvoid != null" >
        isvoid,
      </if>
      <if test="jmbbh != null" >
        jmbbh,
      </if>
      <if test="jshj != null" >
        jshj,
      </if>
      <if test="jym != null" >
        jym,
      </if>
      <if test="jzpzhm != null" >
        jzpzhm,
      </if>
      <if test="kpjh != null" >
        kpjh,
      </if>
      <if test="kpr != null" >
        kpr,
      </if>
      <if test="kprq != null" >
        kprq,
      </if>
      <if test="mw != null" >
        mw,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="qyd != null" >
        qyd,
      </if>
      <if test="scqymc != null" >
        scqymc,
      </if>
      <if test="shrsbh != null" >
        shrsbh,
      </if>
      <if test="skpbh != null" >
        skpbh,
      </if>
      <if test="skr != null" >
        skr,
      </if>
      <if test="sl != null" >
        sl,
      </if>
      <if test="source != null" >
        source,
    </if>
      <if test="client != null" >
        client,
      </if>
      <if test="spsm != null" >
        spsm,
      </if>
      <if test="syhm != null" >
        syhm,
      </if>
      <if test="updatedby != null" >
        updatedby,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="wkbz != null" >
        wkbz,
      </if>
      <if test="xcrs != null" >
        xcrs,
      </if>
      <if test="xfbz != null" >
        xfbz,
      </if>
      <if test="xfdzdh != null" >
        xfdzdh,
      </if>
      <if test="xfmc != null" >
        xfmc,
      </if>
      <if test="xfsh != null" >
        xfsh,
      </if>
      <if test="xfyhzh != null" >
        xfyhzh,
      </if>
      <if test="xsdjbh != null" >
        xsdjbh,
      </if>
      <if test="yshwxx != null" >
        yshwxx,
      </if>
      <if test="zgswjgdm != null" >
        zgswjgdm,
      </if>
      <if test="zh != null" >
      zh,
    </if>
      <if test="zyspmc != null" >
        zyspmc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="bmbh != null" >
        #{bmbh,jdbcType=VARCHAR},
      </if>
      <if test="bsbz != null" >
        #{bsbz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="cd != null" >
        #{cd,jdbcType=VARCHAR},
      </if>
      <if test="channelcode != null" >
        #{channelcode,jdbcType=VARCHAR},
      </if>
      <if test="cjhm != null" >
        #{cjhm,jdbcType=VARCHAR},
      </if>
      <if test="corpid != null" >
        #{corpid,jdbcType=VARCHAR},
      </if>
      <if test="cpxh != null" >
        #{cpxh,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="qsbp != null" >
        #{qsbp,jdbcType=VARCHAR},
      </if>
      <if test="datecreated != null" >
        #{datecreated,jdbcType=VARCHAR},
      </if>
      <if test="dateupdated != null" >
        #{dateupdated,jdbcType=VARCHAR},
      </if>
      <if test="djbz != null" >
        #{djbz,jdbcType=VARCHAR},
      </if>
      <if test="dw != null" >
        #{dw,jdbcType=VARCHAR},
      </if>
      <if test="dybz != null" >
        #{dybz,jdbcType=VARCHAR},
      </if>
      <if test="fdjhm != null" >
        #{fdjhm,jdbcType=VARCHAR},
      </if>
      <if test="fhr != null" >
        #{fhr,jdbcType=VARCHAR},
      </if>
      <if test="fhrsbh != null" >
        #{fhrsbh,jdbcType=VARCHAR},
      </if>
      <if test="fpdm != null" >
        #{fpdm,jdbcType=VARCHAR},
      </if>
      <if test="fphm != null" >
        #{fphm,jdbcType=VARCHAR},
      </if>
      <if test="fpzl != null" >
        #{fpzl,jdbcType=VARCHAR},
      </if>
      <if test="gfdzdh != null" >
        #{gfdzdh,jdbcType=VARCHAR},
      </if>
      <if test="gfmc != null" >
        #{gfmc,jdbcType=VARCHAR},
      </if>
      <if test="gfsh != null" >
        #{gfsh,jdbcType=VARCHAR},
      </if>
      <if test="gfyhzh != null" >
        #{gfyhzh,jdbcType=VARCHAR},
      </if>
      <if test="hgzh != null" >
        #{hgzh,jdbcType=VARCHAR},
      </if>
      <if test="hjje != null" >
        #{hjje,jdbcType=VARCHAR},
      </if>
      <if test="hjse != null" >
        #{hjse,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="islist != null" >
        #{islist,jdbcType=VARCHAR},
      </if>
      <if test="isvoid != null" >
        #{isvoid,jdbcType=VARCHAR},
      </if>
      <if test="jmbbh != null" >
        #{jmbbh,jdbcType=VARCHAR},
      </if>
      <if test="jshj != null" >
        #{jshj,jdbcType=VARCHAR},
      </if>
      <if test="jym != null" >
        #{jym,jdbcType=VARCHAR},
      </if>
      <if test="jzpzhm != null" >
        #{jzpzhm,jdbcType=VARCHAR},
      </if>
      <if test="kpjh != null" >
        #{kpjh,jdbcType=VARCHAR},
      </if>
      <if test="kpr != null" >
        #{kpr,jdbcType=VARCHAR},
      </if>
      <if test="kprq != null" >
        #{kprq,jdbcType=VARCHAR},
      </if>
      <if test="mw != null" >
        #{mw,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="qyd != null" >
        #{qyd,jdbcType=VARCHAR},
      </if>
      <if test="scqymc != null" >
        #{scqymc,jdbcType=VARCHAR},
      </if>
      <if test="shrsbh != null" >
        #{shrsbh,jdbcType=VARCHAR},
      </if>
      <if test="skpbh != null" >
        #{skpbh,jdbcType=VARCHAR},
      </if>
      <if test="skr != null" >
        #{skr,jdbcType=VARCHAR},
      </if>
      <if test="sl != null" >
        #{sl,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="client != null" >
        #{client,jdbcType=VARCHAR},
      </if>
      <if test="spsm != null" >
        #{spsm,jdbcType=VARCHAR},
      </if>
      <if test="syhm != null" >
        #{syhm,jdbcType=VARCHAR},
      </if>
      <if test="updatedby != null" >
        #{updatedby,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="wkbz != null" >
        #{wkbz,jdbcType=VARCHAR},
      </if>
      <if test="xcrs != null" >
        #{xcrs,jdbcType=VARCHAR},
      </if>
      <if test="xfbz != null" >
        #{xfbz,jdbcType=VARCHAR},
      </if>
      <if test="xfdzdh != null" >
        #{xfdzdh,jdbcType=VARCHAR},
      </if>
      <if test="xfmc != null" >
        #{xfmc,jdbcType=VARCHAR},
      </if>
      <if test="xfsh != null" >
        #{xfsh,jdbcType=VARCHAR},
      </if>
      <if test="xfyhzh != null" >
        #{xfyhzh,jdbcType=VARCHAR},
      </if>
      <if test="xsdjbh != null" >
        #{xsdjbh,jdbcType=VARCHAR},
      </if>
      <if test="yshwxx != null" >
        #{yshwxx,jdbcType=VARCHAR},
      </if>
      <if test="zgswjgdm != null" >
        #{zgswjgdm,jdbcType=VARCHAR},
      </if>
      <if test="zh != null" >
        #{zh,jdbcType=VARCHAR},
      </if>
      <if test="zyspmc != null" >
        #{zyspmc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

</mapper>